@import "_global";
@import "_variables";


body{
    height: 110vh;
}

.layer{
    background-image: url('../Resources/maksim-istomin-f4aNyqBsv5U-unsplash\ \(1\).jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    position: fixed;
    color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;

    nav{
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: white;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        width: 90vw;
        visibility: hidden;

        span{
            color: rgb(238, 171, 146);

        }

        ul{
            display: flex;
            justify-content: space-around;
            width: 30vw;
            li{
                list-style: none;
            }

        }
    }

    h1{
        z-index: 999;
        color: white;
        text-align: center;
        padding: 1rem;
        visibility: hidden;

    }
    i{
        color: rgb(238, 171, 146);
        padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        z-index: 999;
        visibility: hidden;

    }

    button{
        background-color: rgb(238, 171, 146);
        color: black;
        font-size: 1.25rem;
        padding: .5rem;
        border: transparent;
        border-radius: 25px;
        z-index: 999;
        visibility: hidden;

    }
}


.line{
    display: block;
    width: 5px;
    background-color: white;
    height: 10px;
    visibility: hidden;
    margin: 1rem;
}